.footer {
    width: 100%;
    padding: 20px;
    text-align: center; 
    font-size: 0.9rem;  
    color: #888888;    
    box-sizing: border-box; 
}

.myLink {
    color: #555555; 
    font-weight: 500;
    text-decoration: none; 
    margin-left: 5px;
}

.authorLink:hover {
    text-decoration: underline; 
}